@media (max-width: 768px) {
    .marco {
        .marco__titulo {
            font-size: 8vw;
        }

        .marco__titulo2 {
            font-size: 4vw;
        }

        .marco__subTitulo {
            font-size: 3vw;
        }
    }
}

@media (max-width: 767px) {
    .marco {
        .marco__titulo {
            font-size: 10vw;
        }

        .marco__titulo2 {
            font-size: 6vw;
        }

        .marco__subTitulo {
            font-size: 4vw;
        }
    }
}