@media (min-width: 768px) {
    .marco {
        form  {
            overflow-y: auto;
        }
        
    }
}

@media (max-width: 768px) {
    .marco {
        .marco__titulo {
            font-size: 8vw;
        }

        .marco__titulo2 {
            font-size: 4vw;
        }

        .marco__subTitulo {
            font-size: 3vw;
        }
    }
}

@media (max-width: 767px) {
    .marco {
        display: grid;

        form  {
            overflow-y: scroll;
        }

        .marco__derecha > img {
            width: 25vw;
            align-self: baseline;
            justify-self: center;
        }

        .marco__titulo {
            font-size: 10vw;
        }

        .marco__titulo2 {
            font-size: 6vw;
        }

        .marco__subTitulo {
            font-size: 4vw;
        }
    }

    .btnDarkLight {
        width: 40px;
        height: 40px;
    }

}